
html{
    min-height:80%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    padding-top: 70px;
    height: 100%;/* force the BODY element to match the height of the HTML element */
    /*font-size: 15px;
    background: transparent url('../img/back1.png'); */

}
#dpback{
	/*opacity: 0.8; */
    width:10em;
    height:10em;
    border-radius:50%;
    background:url("../img/dp3.jpg");
     background-size: cover;
    display:block;
    background-position-y:25% ;
    box-shadow: 	2px 2px 7px rgb(184, 42, 8);
   }


.img-circle.oracle{
	
width: 25%;

    
}
.img-circle.paypal{
	padding-top: 7%;
width: 50%;
    
}

.img-rounded.traffic{
	width: 35%;
}
div.one{

height: 550px;
/*
TODO for back color if required
background-color:#ff0; */
}
div.two{
/*
border-top-style: solid;
    border-top- width: 5px;

TODO for back color if required
background-color:#ff0; */
}
div.three{

/*
TODO for back color if required
background-color:#ff0; */
}

h1.name {
	color:#0cf;
	opacity:1;
	font-size: 3.5em;
	font-weight: 800;
	letter-spacing: 4px;
	margin-top: 6%;
	font-family: 'Gloria Hallelujah', sans-serif; }


p.tagline{
	font-size:1.2em;
	color:#000;opacity:.6;
	line-height:1.25em;
	/*margin: 0 5em 0; */
	font-family: 'Gloria Hallelujah' cursive;}

p.desctext{
	font-size:1.2em;
	color:#000;opacity:.6;
	line-height:1.25em;
	/*margin: 0 5em 0; */
	font-family: 'Droid Sans', sans-serif;}

h3.desctext{
	font-size:2em;
	color:#000;opacity:.6;
	line-height:1.25em; 
	font-family: 'Droid Sans', sans-serif;}

.imagetitle{
	font-size:1.5em;
	color:#000;opacity:.6;
	line-height:1.25em;
	font-weight: bold;
	/*margin: 0 5em 0; */
	font-family: 'Droid Sans', sans-serif;
}
.kbdtext{
	margin:0;
font-family: 'Droid Sans', sans-serif;	
}
a.imgsmall{
	/*TODO do something here */
}

#project-ul>li  {
	
}
#project-ul>li.active {
	background-color: #00385c;
}
#project-ul>li.focus {
	background-color: #00385c;
}
#quoraLogo {
padding-bottom: 0.9em;
}

/*
#project-ul>li.active>a {
	color: #ffffff;
}

.well {

	background-color: rgba(255,220,22,0.5)
} */

/*----------*/

/*-----------*/


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;		
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #CC0000;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #CC0000;
  background-image: #CC0000;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #CC0000;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}



