body {
  font-family: sans-serif;
  font-size:20px;
}
ol,ul {
	list-style: none;
}
.stitle {
	font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center !important;
    padding: 20px 0;
    display: block;
}
.pre-load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/Preloader.gif) center no-repeat #fff;
}
/*---- Home page styling ---- */
.home {
    position: relative;
    padding: 60px 0 60px 0;
    min-height: 760px;
    background-size: cover;
    background:  url('../img/background.jpg') no-repeat 0 0;	
    color: #fff;
}
.menu {
	opacity:0.9;
	line-height:1.25em;
	font-family: 'Droid Sans', sans-serif;
}
.navicon {
	font-size:2em;
	color:white;
	text-decoration: none !important;
}
.navicon_hidden {
	visibility: hidden;
}
.navicon:hover {
	color:white;
	font-size:2.1em;
}
.navicon:focus {
	color:white;
	font-size:2.1em;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.dp {
	margin-top: 5em;
	border-radius: 50%;
	width: 7em;
	height:7em;
	background-size: cover;
	display:block;
}
h1.name {
  font-size: 2.5em;
  display:block;
  font-family: 'Raleway', sans-serif;
}
h2.tagline {
  font-size: 1.5em;
  display:block;
  font-family: 'Raleway', sans-serif;
}
.home-down {
	color:white;
}
/* Menu styling */
.overlay {
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(255,50,10,0.9);
}
.o_hidden {
	visibility: hidden;
}
.menu_popup>.container>.row {
	padding: 60px 0 60px 0;
}
.menu_popup ul {
	list-style: none;
}
.menuitem {
	color:white;
	margin-bottom: 20px;
    margin-top: 5px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 2em;
}
.menuitem>a {
text-decoration: none;
color:white;
}
.menuitem>a:hover, .menuitem>a:focus {
color:yellow;
font-size: 1.1em;
}

.navicon_close {
	float:right;
	padding-top:60px;
	color:white;
}

.navicon_close:hover {
	color:cyan;
}
/* About */
section#about .bio {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size:20px;
	margin: 0 auto;
	text-align: justify;
	width: 760px;
	padding-bottom: 30px;
	line-height: 1.5;
	
}


/*work*/
section#work {
	background-color: #B3D675;
}
section#work>.container>.row {
	padding-bottom: 30px;
}
.work_block {
	padding:15px;
}
section#work > a{
	color:red;
}
section#work>.container>.stitle {
    color:#39275b;
}
#oracle_logo {
	border: solid 4px #39275B;;   /*  */
	border-radius: 50%;
	width:6em;
	overflow: no;
}
#paypal_logo {
	border: solid 4px #39275B;;
	border-radius: 50%;
	width:6em;
	overflow: no;
}
.work_title {
	margin-bottom: 20px;
    margin-top: 5px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.work_timeperiod {
	margin-bottom: 20px;
    margin-top: 5px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.work_desc_text {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size:17px;   
    padding-bottom: 6px;
}
.read_more {
	margin:5px;
	padding:5px;
 	border: solid 3px #45101B;
	border-radius: 10%;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
    font-size:17px;

}
.work_info>a {
	text-decoration: none;
	color:#222222;
	margin-bottom:20px;
}	
.work_info>a:hover, .work_info>a:focus {
	color:#fff;
	background-color:#45101B;
}


/*------ Projects ---- */
section#projects {
	background-color:#f8f8f8;
}
section#projects>.container>.row>.col-md-6:hover {
	
	border-radius: 10px;
	background-color: #f0f0f0;

}
section#projects>.container>.stitle {
color:#800800;
}
.plink {
  font-weight: bold;
}
.lead {
    font-size: 17px;
    font-weight: 400;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;    
}
.section-heading {
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

/* Writing */
section#writing>.container>.stitle {
color:#005A31;
}
.write_title {
	margin-bottom: 20px;
    margin-top: 5px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.write_title >a {
	text-decoration: none;
}
.write_summary_text {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;   
}
.write_desc_text {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size:0.83em;   
    padding-bottom: 6px;
}
section#writing .write_list_item {
	float:left;
	display: inline-block;
	border-radius: 5%;
	padding:40px;
	color:white;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 17px;
	margin: 15px;
	width:30%;
	height:200px;
	text-decoration: none;
	overflow: hidden;
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
}
section#writing .write_list_item:hover, section#writing .write_list_item:focus {
	border:solid 2px #000;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
section#writing #she {
	 background-color :#f1b605;
}
section#writing #silkboard {
	 background-color :#b1b605;
}
section#writing #amble {
	 background-color :#DF7065;
}
section#writing #LA {
	 background-color :#118C4E;
}
section#writing #interstellar {
	 background-color :#6DBDD6;
}
section#writing #deadgirl {
	 background-color :#B71427;
}

/* --- contact ---*/
section#connect {
	background-color: #000;
}
section#connect	>.container>.stitle {
color:#F3FAB6;
}
section#connect li {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 2px;
}
section#connect ul li:not(:first-child):before {
	content: ".";
	padding-right: 20px;
}
section#connect .mail {
	margin: 0 auto;
	padding:10px 0 30px 0;
}
section#connect .mail>a {
	margin:5px;
	padding:10px;
 	border: solid 3px #bebebe;
 	border-radius: 5%;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 600;
    font-size:17px;
    text-decoration: none;
    letter-spacing: 2px;
}
section#connect .mail>a:hover,section#connect .mail>a:focus {
	background-color: #bebebe;
	color:#000;
}
section#connect .smalltext {
	font-size:12px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#bebebe;
}

/*no page */
.nopage {
	margin:0 auto;
	vertical-align: middle;
	padding:50px 80px 20px 80px;
}
.nopage .emphasis {
	color:red;
	font: 600 2em 'Comic Sans Pro';
}

/* work chapters */
section#oracle,section#paypal {
margin: 0 auto;
vertical-align: middle;
}
section#oracle .oracle_header, section#paypal .paypal_header {
	font: 900 2.5em "Comic Sans serif";
	border-bottom: 5px solid #444;
	padding: 0 20px 10px 20px;
	display: block;
	margin-bottom: 40px ;
	max-width: 640px;
}
section#oracle .oracle_text,section#paypal .paypal_text {
	margin: 0 auto;
	vertical-align: middle;
	display: block;
	max-width: 640px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	padding-bottom: 1em;

}
section#oracle .oracle_access {
	width:20em;
}
section#paypal .paypal_text>img {
	width:12em;
}
section#oracle .back,section#paypal .back {
	padding: 0.15em 0.5em;
	margin-bottom: 1em;
	background-color: #45101B;
	border: solid 3px #45101B;
	border-radius: 10%;
	color:#FFF;
	font: 800 20px "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
section#oracle .back:hover,section#oracle .back:focus, section#paypal .back:hover,section#paypal .back:focus {
	border: solid 3px orange;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	/*h1.name{
	  font-size: 1.6em;
	  display:block;
	} */
	section#about .bio {
    font-size:17px;
	margin: 0 auto;
	text-align: justify;
	width: 100%;
	padding-bottom: 30px;
	line-height: 1.5;
	}
	section#writing .write_list_item {
		float:none;
		display: block;
		border-radius: 5%;
		 padding:40px;
		 color:white;
		 font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 600;
	    font-size: 17px;
		margin: 15px;
		width:90%;
		text-decoration: none;
		box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
    }
    section#oracle .oracle_header {
		font-size: 2em;
	}
}

